<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874747497557-e05dqo2gi5rdh6ck4jlko0adg1oo5r63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874747497557-e05dqo2gi5rdh6ck4jlko0adg1oo5r63</string>
	<key>API_KEY</key>
	<string>AIzaSyAxNrXEPAeolYbiDDPUYwdGrpYyLUp_qq0</string>
	<key>GCM_SENDER_ID</key>
	<string>874747497557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jodyclelland.B-Fed</string>
	<key>PROJECT_ID</key>
	<string>b-fed-af8c7</string>
	<key>STORAGE_BUCKET</key>
	<string>b-fed-af8c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874747497557:ios:bfe9ba5dcf1c24a21a98dc</string>
</dict>
</plist>